<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Fuel station" />
    <meta name="description" content="Analysis reports of fuel station " />
    <meta name="keywords" content="ecofuelstation" />
    <link
      rel="shortcut icon"
      href="/static/img/vecteezy_gas-pump-clipart-design-illustration_9400880.png"
      type="image/x-icon"
    />
    <title>Fuel staton categories</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="/static/img/vecteezy_gas-pump-clipart-design-illustration_9400880.png"
            width="50"
            alt="Picture"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active m-1" aria-current="page" href="/"
                ><h6>Asosiy</h6></a
              >
            </li>
            {% for cat in categories %}
            <li class="nav-item">
              <a
                class="nav-link active m-1"
                aria-current="page"
                href="{{cat.get_url}}"
                ><h6>{{ cat.name }}</h6></a
              >
            </li>
            {% endfor %}
            <li class="nav-item">
              <img
                style="margin-top: 13px; margin-left: 40px"
                src="/static/img/person.svg"
                alt=""
              />
            </li>
            <li class="nav-item">
              <h6 class="" style="margin-top: 2px; padding: 10px">
                {{request.user.username}}
              </h6>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container p-4">
      <div class="row shadow p-3 mb-5 bg-body rounded-3">
        <div class="col-md-5 mx-auto">
          <div class="small fw-light">
            <h5 class="text-center">Sanani bo'yicha qidirish</h5>
          </div>
          <form action="#" method="get">
            <div class="input-group">
              <input
                class="form-control border-end-0 border rounded-pill"
                type="date"
                value="{{date_date}}"
                name="date"
                id="example-search-input"
              />
              <span class="input-group-append">
                <button
                  class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
                  type="submit"
                >
                  <i class="bi bi-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="shadow p-3 mb-5 bg-body rounded-3">
        <h5 class="text-center p-3">
          {{date_date}} kungi {{category_name}} ning xisobotlari
        </h5>
        <div class="table-responsive">
          <table class="table" id="table_scroll">
            <thead>
              <tr>
                <th scope="col" style="padding-left: 30px">#</th>
                <th scope="col">X/R</th>
                <th scope="col">Qoldiq</th>
                <th scope="col">Ohirgi sarf</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% if category_name == 'Nasirullo-xoji' %}
                <td style="padding-left: 30px">1</td>
                <td>
                  <a
                    href="{% url 'main:main_reports_nasirullo' %}"
                    class="table_xr"
                    >Asosiy</a
                  >
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{main_xr.bill}}
                </td>
                <td>
                  <a
                    href="{% url 'main:nasirullo_outcome' %}"
                    style="color: #1d98ffff; text-decoration: none"
                    class="formatNum"
                  >
                    {{out_main}}
                  </a>
                </td>
                {% elif category_name == 'Sanoat-tranzit' %}
                <td style="padding-left: 30px">1</td>
                <td>
                  <a
                    href="{% url 'main:main_reports_sanoat' %}"
                    class="table_xr"
                    >Asosiy</a
                  >
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{main_xr.bill}}
                </td>
                <td>
                  <a
                    href="{% url 'main:sanoat_outcome' %}"
                    style="color: #1d98ffff; text-decoration: none"
                    class="formatNum"
                  >
                    {{out_main}}
                  </a>
                </td>
                {% elif category_name == 'Parfum-distibyuter' %}
                <td style="padding-left: 30px">1</td>
                <td>
                  <a
                    href="{% url 'main:main_reports_parfum' %}"
                    class="table_xr"
                    >Asosiy</a
                  >
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{main_xr.bill}}
                </td>
                <td>
                  <a
                    href="{% url 'main:parfum_outcome' %}"
                    style="color: #1d98ffff; text-decoration: none"
                    class="formatNum"
                  >
                    {{out_main}}
                  </a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                {% if category_name == 'Nasirullo-xoji' %}
                <td style="padding-left: 30px">2</td>
                <td>
                  <a
                    href="{% url 'main:nasirullo_gas_raports' %}"
                    class="table_xr"
                    >Xudud gaz</a
                  >
                </td>
                {% if xudud_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{xudud_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{xudud_xr.bill}}</td>
                {% endif %} {% for out in out_xudud|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:nasirullo_gas_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Sanoat-tranzit' %}
                <td style="padding-left: 30px">2</td>
                <td>
                  <a href="{% url 'main:sanoat_gas_raports' %}" class="table_xr"
                    >Xudud gaz</a
                  >
                </td>
                {% if xudud_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{xudud_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{xudud_xr.bill}}</td>
                {% endif %} {% for out in out_xudud|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:sanoat_gas_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Parfum-distibyuter' %}
                <td style="padding-left: 30px">2</td>
                <td>
                  <a href="{% url 'main:parfum_gas_raports' %}" class="table_xr"
                    >Xudud gaz</a
                  >
                </td>
                {% if xudud_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{xudud_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{xudud_xr.bill}}</td>
                {% endif %} {% for out in out_xudud|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:parfum_gas_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% endif %}
              </tr>
              <tr>
                {% if category_name == 'Nasirullo-xoji' %}
                <td style="padding-left: 30px">3</td>
                <td>
                  <a
                    href="{% url 'main:nasirullo_aksiz_raports' %}"
                    class="table_xr"
                    >Aksiz</a
                  >
                </td>
                {% if aksiz_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{aksiz_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{aksiz_xr.bill}}</td>
                {% endif %} {% for out in out_aksiz|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:nasirullo_aksiz_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Sanoat-tranzit' %}
                <td style="padding-left: 30px">3</td>
                <td>
                  <a
                    href="{% url 'main:sanoat_aksiz_raports' %}"
                    class="table_xr"
                    >Aksiz</a
                  >
                </td>
                {% if aksiz_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{aksiz_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{aksiz_xr.bill}}</td>
                {% endif %} {% for out in out_aksiz|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:sanoat_aksiz_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Parfum-distibyuter' %}
                <td style="padding-left: 30px">3</td>
                <td>
                  <a
                    href="{% url 'main:parfum_aksiz_raports' %}"
                    class="table_xr"
                    >Aksiz</a
                  >
                </td>
                {% if aksiz_xr.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{aksiz_xr.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{aksiz_xr.bill}}</td>
                {% endif %} {% for out in out_aksiz|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:parfum_aksiz_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% endif %}
              </tr>
              <tr>
                {% if category_name == 'Nasirullo-xoji' %}
                <td style="padding-left: 30px">4</td>
                <td>
                  <a
                    href="{% url 'main:nasirullo_elector_raports' %}"
                    class="table_xr"
                    >Elektor</a
                  >
                </td>
                {% if elector.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{elector.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{elector.bill}}</td>
                {% endif %} {% for out in out_elec|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:nasirullo_elector_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Sanoat-tranzit' %}
                <td style="padding-left: 30px">4</td>
                <td>
                  <a
                    href="{% url 'main:sanoat_elector_raports' %}"
                    class="table_xr"
                    >Elektor</a
                  >
                </td>
                {% if elector.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{elector.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{elector.bill}}</td>
                {% endif %} {% for out in out_elec|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:sanoat_elector_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %}{% elif category_name == 'Parfum-distibyuter' %}
                <td style="padding-left: 30px">4</td>
                <td>
                  <a
                    href="{% url 'main:parfum_elector_raports' %}"
                    class="table_xr"
                    >Elektor</a
                  >
                </td>
                {% if elector.bill > 0 %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{elector.bill}}
                </td>
                {% else %}
                <td class="formatNum" style="color: red">{{elector.bill}}</td>
                {% endif %} {% for out in out_elec|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="{% url 'main:parfum_elector_raports' %}"
                    >{{out.outcome}}</a
                  >
                </td>
                {% endfor %} {% endif %}
              </tr>
              <tr>
                {% if category_name == 'Nasirullo-xoji' %}
                <td style="padding-left: 30px">5</td>
                <td>
                  <a href="{% url 'main:nasirullo_company' %}" class="table_xr"
                    >Tashkilotlar</a
                  >
                </td>
                <td>
                  <a
                    href="{% url 'main:nasirullo_company' %}"
                    style="color: #1d98ffff; text-decoration: none"
                    class="formatNum"
                  >
                    {{company.bill}}
                  </a>
                </td>
                {% for out in out_company|slice:'1' %}
                <td>
                  <a
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:nasirullo_company' %}"
                  >
                    {{out.income}}</a
                  >
                </td>
                {% endfor %} {% elif category_name == 'Sanoat-tranzit' %}
                <td style="padding-left: 30px">5</td>
                <td>
                  <a class="table_xr">Tashkilotlar</a>
                </td>
                <td
                  style="color: #1d98ffff; text-decoration: none"
                  class="formatNum"
                >
                  {{company.bill}}
                </td>
                {% for out in out_company|slice:'1' %}
                <td class="formatNum" style="color: #1d98ffff">
                  {{out.income}}
                </td>
                {% endfor %} {% elif category_name == 'Parfum-distibyuter' %}
                <td style="padding-left: 30px">5</td>
                <td>
                  <a href="{% url 'main:parfum_company' %}" class="table_xr"
                    >Tashkilotlar</a
                  >
                </td>
                <td>
                  <a
                    href="{% url 'main:parfum_company' %}"
                    style="color: #1d98ffff; text-decoration: none"
                    class="formatNum"
                  >
                    {{company.bill}}
                  </a>
                </td>
                {% for out in out_company|slice:'1' %}
                <td>
                  <a
                    class="formatNum"
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:parfum_company' %}"
                  >
                    {{out.income}}</a
                  >
                </td>
                {% endfor %} {% endif %}
              </tr>
              <tr>
                <td style="padding-left: 30px">6</td>
                <td><a href="" class="table_xr">Kredit</a></td>
                {% if cardit.bill > 0 %}
                <td class="formatUsd" style="color: #1d98ffff">
                  {{cardit.bill}}
                </td>
                {% else %}
                <td class="formatUsd" style="color: red">{{cardit.bill}}</td>
                {% endif %} {% for out in out_credit|slice:'1' %}
                <td class="formatUsd" style="color: #1d98ffff">
                  {{out.dollar}}
                </td>
                {% endfor %}
              </tr>
              <tr>
                <td style="padding-left: 30px">6</td>
                <td><a href="" class="table_xr">Boshqalar</a></td>
                <td class="formatNum" style="color: #1d98ffff">
                  <a href="">{{other_today}}</a>
                </td>

                <td style="padding-left: 30px">
                  {% for other in others|slice:"2" %}
                  <span> {{other.description}}</span>, {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />

    <!-- Gaz  -->
    <div class="container">
      <div class="shadow p-3 mb-5 bg-body rounded-3">
        <h5 class="text-center p-3">
          {{category_name}} sotib olgan va sotilgan gazlar
        </h5>
        <div style="margin-bottom: 10xp" class="table-responsive">
          <table class="table" id="table_scroll_2">
            <tbody>
              <thead>
                <tr>
                  <th scope="col" style="padding-left: 30px">Sana</th>
                  <th scope="col">
                    Xisoblagich dan <br />
                    o'tgan gaz
                  </th>
                  <th scope="col">Aksiz(sum)</th>
                  <th scope="col">Elektor(sum)</th>
                  <th scope="col">Olingan gaz(sum)</th>
                  <th scope="col">Sotilgan gaz(sum)</th>
                  <th scope="col">Tashkilot</th>
                  <th scope="col">Plastik</th>
                  <th scope="col">Naqt</th>
                  <th scope="col">Savdo puli</th>
                  <th scope="col">Tushgan(sum)</th>
                  <th scope="col">Tushmagan(sum)</th>
                  <th scope="col">Foyda</th>
                </tr>
              </thead>
              <br />
              <thead>
                <tr>
                  <th scope="col" style="padding-left: 30px">Jami:</th>
                  <td class="formatKub">{{total_gas}}</td>
                  <td class="formatNum">{{total_aksiz}}</td>
                  <td class="formatNum">{{total_elek}}</td>
                  <td class="formatNum">{{total_buy_gas}}</td>
                  <td class="formatNum">{{total_sale_gas}}</td>
                  <td class="formatNum">{{total_tash}}</td>
                  <td class="formatNum">{{total_card}}</td>
                  <td class="formatNum">{{total_check}}</td>
                  <td class="formatNum">{{total_savdo}}</td>
                  <td class="formatNum">{{total_tushgan}}</td>
                  <td class="formatNum">{{total_tushmagan}}</td>
                  <td class="formatNum">{{total_profit}}</td>
                </tr>
              </thead>
            </tbody>
            <br />
            <tbody>
              {% for obj in object_list|slice:"6" %}
              <tr>
                <td style="padding-left: 30px">
                  <a
                    style="color: black; text-decoration: none"
                    href="{% url 'main:detail' obj.id %}"
                  >
                    {{obj.date}}</a
                  >
                </td>
                <td>
                  <a
                    class="formatKub"
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:detail' obj.id %}"
                  >
                    {{obj.last_gas}}</a
                  >
                </td>
                <td>
                  <a
                    class="formatNum"
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:detail' obj.id %}"
                  >
                    {{obj.aksiz_sum}}</a
                  >
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.elec_sum}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.buy_sum}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.total_sum}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.company}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">{{obj.card}}</td>
                <td class="formatNum" style="color: #1d98ffff">{{obj.chec}}</td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.sum_half}}
                </td>
                <td>
                  <a
                    class="formatKub"
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:detail' obj.id %}"
                  >
                    {{obj.have_money}}</a
                  >
                </td>
                <td>
                  <a
                    class="formatKub"
                    style="color: #1d98ffff; text-decoration: none"
                    href="{% url 'main:detail' obj.id %}"
                  >
                    {{obj.no_money}}</a
                  >
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.profit}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="d-grid gap-1 d-md-flex justify-content-end">
          {% if category_name == 'Nasirullo-xoji' %}<a
            href="{% url 'main:all_sale_gas_nasirullo' %}"
            style="margin-top: 15px"
            class="btn btn-outline-primary btn-sm"
            >more ...</a
          >{% elif category_name == 'Sanoat-tranzit' %}<a
            href="{% url 'main:all_sale_gas_sanoat' %}"
            style="margin-top: 15px"
            class="btn btn-outline-primary btn-sm"
            >more ...</a
          >{% elif category_name == 'Parfum-distibyuter' %}
          <a
            href="{% url 'main:all_sale_gas_parfum' %}"
            style="margin-top: 15px"
            class="btn btn-outline-primary btn-sm"
            >more ...</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Gaz end -->
    <br /><br />
    <div class="container">
      <div class="shadow p-3 mb-5 bg-body rounded-3">
        <h5 class="text-center p-3">{{category_name}} sotgan gazlar</h5>
        <div style="margin-bottom: 10xp" class="table-responsive">
          <table class="table" id="table_scroll_3">
            <thead>
              <tr>
                <th scope="col" style="padding-left: 30px">Sana</th>
                <th scope="col">Xisoblagich</th>
                <th scope="col">Sotilgan</th>
                <th scope="col">1.4% Yo'q</th>
                <th scope="col">Qolgan</th>
                <th scope="col">Ja'mi</th>
                <th scope="col">Tushum</th>
                <th scope="col">Naqt</th>
                <th scope="col">Plastik</th>
                <th scope="col">Tashkilot</th>
                <th scope="col">Sotish</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in stations|slice:"6" %}
              <tr>
                <td style="padding-left: 30px">{{obj.date}}</td>
                <td class="formatKub" style="color: #1d98ffff">
                  {{obj.counter}}
                </td>
                <td class="formatKub" style="color: #1d98ffff">
                  {{obj.total_gas}}
                </td>
                <td class="formatKub" style="color: #1d98ffff">
                  {{obj.lose_gas}}
                </td>
                <td class="formatKub" style="color: #1d98ffff">{{obj.gas}}</td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.total_sum}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.sum_half}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">{{obj.chec}}</td>
                <td class="formatNum" style="color: #1d98ffff">{{obj.card}}</td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.company}}
                </td>
                <td class="formatNum" style="color: #1d98ffff">
                  {{obj.sale_price}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="d-grid gap-1 d-md-flex justify-content-end">
          <a
            href="#"
            style="margin-top: 15px"
            class="btn btn-outline-primary btn-sm"
            >more ...</a
          >
        </div>
      </div>
    </div>

    {% if request.user.username != "Raxbar0500" %}
    <div class="container">
      <div
        class="card w-100 shadow p-3 mb-5 bg-body rounded-3"
        style="background-color: lightskyblue"
      >
        <div class="card-body">
          <h5 class="card-title text-center p-2">Sozlamalar:</h5>
          <div class="row">
            {% if add == 3 %}
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:add_to_maingas' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >Gaz qo'shish</a
                >
              </center>
            </div>
            {% else %}
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:add_to_maingas_yestarday' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >Kechagi gazni qo'shish</a
                >
              </center>
            </div>
            {% endif %}
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:add_to_incomes' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >Xarajat qo'shish</a
                >
              </center>
            </div>
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:pay_credit' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >Kredit so'ndirish</a
                >
              </center>
            </div>
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:borrow_money' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >O'zaro pul o'tkazish</a
                >
              </center>
            </div>
            <div class="col-lg-3 col-md-6 p-2">
              <center>
                <a
                  href="{% url 'main:additional_money' %}"
                  style="margin-top: 10px"
                  class="btn btn-primary"
                  >Qo'shimcha pul</a
                >
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else%} {% endif %}
    <!-- Footer -->
    <footer class="text-center" style="background-color: rgba(0, 0, 0, 0.05)">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          {% for cat in categories %}
          <a
            data-mdb-ripple-init
            class="btn text-dark btn-floating"
            href="{{cat.get_url}}"
            role="button"
            >{{cat.name}}</a
          >
          {% endfor %}
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 pt-0">
        © 2024 Copyright:
        <a class="text-body" href="#"></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer end -->
  </body>
  <script>
    let nums = document.querySelectorAll(".formatNum");
    const f = new Intl.NumberFormat("sp-UZ", {
      style: "currency",
      currency: "sum",
    });
    nums.forEach((num) => {
      num.innerHTML = f.format(num.outerText);
    });
  </script>
  <script>
    let kubs = document.querySelectorAll(".formatKub");
    const x = new Intl.NumberFormat("sp-UZ", {
      style: "currency",
      currency: "kub",
    });
    kubs.forEach((kub) => {
      kub.innerHTML = x.format(kub.outerText);
    });
  </script>
  <script>
    let usds = document.querySelectorAll(".formatUsd");
    const y = new Intl.NumberFormat("sp-UZ", {
      style: "currency",
      currency: "usd",
    });
    usds.forEach((usd) => {
      usd.innerHTML = y.format(usd.outerText);
    });
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
